
<h1>Lists index</h1>
<div class="grid">
  <div class="cards-grid">
    <% @lists.each do |list| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://picsum.photos/200/300)">
        <%=link_to list.name, list_path(list) %>
        <%# <%= link_to "X" ,
            list_path(list),
            method: :delete,
            data: { confirm: "Are you sure you want to delete this list?" } %>
      </div>
    <% end %>
  </div>
