<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= asset_path "theatre.jpg" %>')">
  <div class="container">
    <h1>Welcome to your personnal movie library</h1>
  </div>
</div>
<br>
<h1>My lists |</h1>
<div class="grid">
  <div class="cards-grid">
    <% @lists.each do |list| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path list.photo.key, height: 300, crop: :fill %>')">
        <%=link_to list.name, list_path(list) %>
      </div>
    <% end %>
  </div>
