.review-container{
  display: flex;
  width: 30vh 1fr;
  justify-content: flex-start;
  padding: 10px;
  background-color: white;
}

.list-review {
  padding-left: 20px;
}

.list-review ul {
  list-style: none;
}
