.review-container{
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  background-color: white;
}

.list-review {
  padding-left: 20px;
}

.list-review h4 {
  padding-left: 20px;
}

.list-review ul {
  list-style: none;
}

.review-container .review-form {
  width: 30%;
}

.movie-container{
  display: flex;
  padding-right: 10px;
}
